<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>About</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<nav class="nav-bar">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/works">Works</a>
  <a href="/gallery">Gallery</a>
</nav>

<h2>About</h2>
<p>
  Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an American entrepreneur, industrial designer, business
  magnate, media proprietor, and investor. He was the co-founder, chairman, and CEO of Apple; the chairman and majority
  shareholder of Pixar; a member of The Walt Disney Company's board of directors following its acquisition of Pixar; and
  the founder, chairman, and CEO of NeXT. He is widely recognized as a pioneer of the personal computer revolution of
  the 1970s and 1980s, along with his early business partner and fellow Apple co-founder Steve Wozniak.</p>

<p>
  Steven Paul Jobs was one of the greatest visionaries and pioneers of the 21st century. He wasn't an engineer, did
  not completed his college degree, yet he was able to turnaround the near-bankrupt Apple into the most valuable brand
  in the world. He not only transformed one industry but several others such as mobile phones, computers, and movies.
</p>



</body>

</html>