<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Works</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

  <nav class="nav-bar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/gallery">Gallery</a>
  </nav>

  <h2>Works</h2>

  <h3>Apple</h3>
  <p> Jobs' development of new product lines while at the helm of Apple continues to impact countless individuals and
    has
    created enormous success for the company.</p>

  <h3>The iPod</h3>
  <p> Released in 2001, the iPod was widely recognized as the first user-friendly and innovative means of accessing
    music
    on the go. Consumers had used portable radios, CD players, and tape players for remote audio purposes prior to the
    widespread access of mp3 files. Syncing with Apple's iTunes program, the iPod gave users the means to carry and
    purchase hundreds of songs on a single device.</p>

  <h3>The iPhone</h3>
  <p>Jobs' next big product launch was the iPhone. Combining the features of an iPod with those of a phone and computer,
    the iPhone enabled users to make calls, listen to music, and browse the Internet on one touchscreen-capable device.
    Besides synchronization to iTunes, the iPhone featured an exclusive App Store that liberated users from purchasing
    content from wireless carriers. Before the App Store, wireless carriers controlled the distribution of content to
    phones.</p>

  <p> On Nov. 1, 2018, Apple announced it would no longer report the number of iPhones sold. However, between its
    initial
    launch in June 2007 and November 2018, cumulative worldwide sales for the iPhone had soared to nearly 1.5 billion.
  </p>


  <h3>The iPad</h3>
  <p>Taking their cue from the iPhone, Apple and Jobs then created the first touchscreen tablet without a keyboard. A
    cross between a laptop and an iPhone, the iPad spurred the development of a new industry that other technology
    companies have since entered.</p>

  <p>Jobs' influence on retail products has revolutionized consumer technology, forcing engineers and developers to
    create new and innovative products. Consumers have benefited most from increased competition, as products remain
    modestly priced but boast increased capabilities and features.</p>


</body>

</html>